@model IEnumerable<WebApplication1.Models.TagesName>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="TagesNames" class="btn btn-info"><i class="fa-solid fa-plus"></i>Add New Tage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <partial name="_ButtonPartial" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
